body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.topbar{
    margin-left: 5%;
    top: 10px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    border-bottom: 3px solid transparent;
    background-color: teal;
    position: fixed;
    border-radius: 20px;
}
.topbar h1{
    color: white;
    margin: 0;

}
.content{
    width: 100%;
    height: 1000px;
    padding-top: 0;
    background-color: blueviolet;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.search{
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 10px;
    height: 10%;
    width: 80%;
    background-color: brown;
    
}

.Pack{
    
    height: 90%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
/*.Categories{
    margin-left: 10%;
    width: 80%;
    height: 100px;
    background-color: cadetblue;    
}*/
.List{
    margin-left: 10%;
    width: 80%;
    height: 800px;
    background-color: rgb(179, 240, 181);  
    border-radius: 10px;
    border: solid;
    border-width: thick;
    border-color: maroon;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.List h1{
    color: blue;
}
.List a{
    width: 40%;
    height: 40%;
    background-color: chartreuse;
    margin: 5%;
}

.bottombar{
    text-align: center;
}



